# python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# builds / logs
dist/
build/
*.log

# data & models??????
data/
datasets/
outputs/
outs/
checkpoints/
models/
*.pt
*.pth
*.npy
*.npz
*.csv

# node
node_modules/

# OS/editor
.DS_Store
.idea/
.vscode/
